Welcome to Chirpathon.com!
===============================================
 
You have successfully signed up to Chirpathon.com,
your username is: #{@authorization.user.email}.
 
To login to the site, just follow this link: #{@url}.
Your password is: #{@authorization.new_password}
 
Thanks for joining and have a great day!