Welcome to Chirpathon.com!
===============================================
 
You have successfully signed up to Chirpathon.com,
your username is: #{@email}.
 
To login to the site, just follow this link: #{@login_url}.
Your password is: #{@password}
 
Thanks for joining and have a great day!