!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %h1
      Welcome to Chirpathon.com.
    %p
      You have successfully signed up to Chirpathon.com,
      your username is: #{@email}.
      %br/
    %p
      To login to the site, just follow this link: "#{@login_url}".
      Your password is: #{@password}
    %p Thanks for joining and have a great day!
