// Place all the styles related to the Authorizations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.field, .actions { font-size:  300%; }

input, select, textarea, button {
  font-family:  inherit;
  font-size:  inherit;
  // -webkit-appearance: button;
  -webkit-box-shadow: 1px 1px 1px #fff;
  -webkit-border-radius: 0.5em;
}

#red {
  color:red;
}

h1 {
  font-size:  600%;
}